*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

#about-div{
    
    
}

#gmail-div{
    
}
.about,.store,.gmail,.images,.att,.sign{
    padding: 0.5rem;
    
}

.gmail,.images,.sign{
    vertical-align: top;
}

.att{
    position: relative;
    bottom: 5px;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
    padding: 0 1rem;
    font-size: 14px;
    
}

#logo img{
    display: block;
    margin:  auto;
    
}
.icon{
    margin-top: 7rem;
}
#search input{
    position: relative;
    right: 4rem;
    border: none;
    text-align: left;
    padding: 0.5rem 0;
    width: 80%;
    position: absolute;
    font-size: 1rem;
    


    
}
#search{
    width: 36rem;
    position: relative;
    top: 2.5rem;
    margin: auto;
    display: flex;
    justify-content:space-between;
    border: 1px solid white;
    
    padding: 0.22rem 0;
    border-radius: 25px;
    box-shadow: 1px 1px 3px 2px  rgba(193, 199, 193,1);
}
.sglass{
    position: relative;
    right: 0.8rem;

    width: 2rem;
}
.mic{
    position: relative;
    top: 0.4rem;
    width: 0.8rem;
}

.box1{
    flex: 1;
}
.box2{
    display: inline-block;
    flex: 6;
}
.box3{
    flex: 1;
}

#search input:focus{
    outline: none;
}

#path div{
    width: 4rem;
    height: 4rem;
    

}
#path{
    padding-top: 6rem;
    padding-left: 2rem;
    margin: auto;
    width: 34rem;
    display: grid;
    grid-template:4rem / 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 1rem;

    
}
.path1 img{
    width: 1.5rem;
    display: block;
    padding-top: 1rem;
    margin: auto;
    
}
.jar{
    position: absolute;
    z-index: 1;
    
    background-color: aqua;
}